.header {
  width: 100%;
  height: 80px;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;

  input {
    width: 500px;
  }

  img {
    height: 100%;
  }

  span {
    font-size: 50px;
    margin-left: 200px;
  }

  .pfp {
    width: 70px;
    height: 70px;
  }
}

.drive-main {
  height: 100%;
  display: flex;
  flex-direction: column;

  .path {
    padding: 10px;
    border-bottom: 3px solid $gray;
  }

  .info {
    display: flex;
    align-items: center;
    padding: 10px 50px 10px 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
    > div {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }
    span {
      font-size: 40px;
      margin-right: 10px;
    }
    .pfp {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: block;
      background-position: center;
      background-size: cover;
    }
  }

  .explorer {
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;

    table {
      border-collapse: collapse; 
      width: 100%;
      user-select: none;

      .entry.selected {
        background-color: rgb(205, 255, 255);
        .name {
          color: rgb(40, 169, 255);
        }
      }

      .entry.drag-entry {
        top: 0;
        left: 0;
        position: absolute;
        opacity: 0.7;
        pointer-events: none;
        display: flex;
        align-items: center;
        * {
          margin-left: 5px;
        }
      }

      th {
        text-align: left;
      }

      tr {
        border-bottom: 3px solid $gray;
        transition: background-color ease-in-out 0.05s;

        &:last-child {
          border-bottom: 0px solid $gray !important;
        }

        &:hover {
          background-color: rgb(239, 255, 255);
        }
      }

      .entry {
        &.file .icon {
          color: $filec;
        }

        &.folder .icon {
          color: $folderc;
        }

        .icon {
          width: 60px;
          text-align: center;
          span {
            font-size: 50px;
          }
        }
        .thumbnail {
          display: flex;
          img {
            margin: auto;
            height: 50px;
            text-align: center;
          }
        }
      }
    }
  }
}

.avatar {
  color: black;
  text-decoration: none;
}

.notfound {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: 20pt;
}

.context-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $white;
  padding: 10px;
  z-index: 10;
  box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.75);
  border-radius: 10px;

  div {
    padding: 10px;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      background-color: $gray;
    }
  }
}

#upload-file-card {
  z-index: 101;
  width: 200px;
  height: 100px;
  background-color: $cmain;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;

  span {
    font-size: 30pt;
  }
}
