// Colors
$white: #FBFBFB;
$gray: #D7D7D7;
$cmain: #45D2FF;

$ctext: #515151;

// Degraded colors
$cdmain1: #00B4FF;
$cdmain2: #00F6FF;

$filec: #6DDCFF;
$folderc: #FFCA62;

$red1: rgb(255, 0, 0);
$red2: rgb(245, 70, 0);