

.profile {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;

  h2 {
    margin-top: 0;
  }

  .pfp {
    width: 100px;
    height: 100px;
    span {
      font-size: 100px;
    }
  }

  table {
    border-collapse: collapse; 
    user-select: none;

    .drive {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 140px;
    }
    
    th {
      text-align: left;
    }

    td:first-child {
      padding-left: 50px;
    }

    td:last-child {
      padding-right: 50px;
    }

    tr {
      border-bottom: 3px solid $gray;
      transition: background-color ease-in-out 0.05s;

      &:last-child {
        border-bottom: 0px solid $gray !important;
      }

      &:hover {
        background-color: rgb(239, 255, 255);
      }
    }

    .options {
      padding-left: 50px;
      span {
        font-size: 40px;
      }
    }
  }
}
