@import 'palette';
@import 'media-queries';
@import 'mixins';
@import 'drive';
@import 'home';
@import 'user';

body, html {
  margin: 0;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

button {
  @include create-btn(150px, 8px);

  &.small {
    margin: 0 !important;
    padding: 0;
    font-size: 14px;
  }
  &.no-gradient {
    background: none;
  }
  &.black {
    color: black;
  }
}

input {
  background-color: $gray;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 12pt;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 101;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.shadow {
  z-index: 100;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.582);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .no-transition {
    transition-duration: 0.0s, 0.0s;
  }

  // &.displayed {
  //   transition-duration: 0.5s, 0.0s;
  //   z-index: 100;
  //   background-color: rgba(0, 0, 0, 0.527);
  // }
}

.transition-visibility {
  opacity: 1;
  transition-property: opacity, visibility, height;
  transition-timing-function: ease-in-out, step-end, step-end;
  transition-duration: 0.3s, 0.0s, 0.0s;

  &.hidden {
    opacity: 0;
    transition-duration: 0.3s, 0.3s, 0.3s;
  }
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  > input, > button, > div {
    margin-bottom: 10px;
  }
}

.select {
  color: $ctext;
  user-select: none;
  background-color: $gray;
  padding: 10px;
  border-radius: 10px;
  font-size: 12pt;
  width: 100px;
}

.self-right {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
.self-left {
  align-self: flex-start;
}

.hidden {
  visibility: hidden;
  height: 0px;
}